/* line 5, /Users/RobTheHuman/Desktop/Developer/Social-Network/app/assets/stylesheets/homes.scss */
.home {
  display: block;
  width: 100%;
  height: 100%;
}
/* line 10, /Users/RobTheHuman/Desktop/Developer/Social-Network/app/assets/stylesheets/homes.scss */
.home .left {
  width: 50%;
  height: 100%;
  background: url("https://static.pexels.com/photos/120248/pexels-photo-120248.jpeg");
  background-position: 100% 50%;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}
/* line 19, /Users/RobTheHuman/Desktop/Developer/Social-Network/app/assets/stylesheets/homes.scss */
.home .right {
  width: 50vw;
  height: 100vh;
  background-color: #ccc;
}
/* line 24, /Users/RobTheHuman/Desktop/Developer/Social-Network/app/assets/stylesheets/homes.scss */
.home .right ul.auth {
  list-style: none;
}

/* line 30, /Users/RobTheHuman/Desktop/Developer/Social-Network/app/assets/stylesheets/homes.scss */
.home-guest {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: url("backdrop.jpeg");
  background-size: cover;
  background-position: 50% 50%;
}
/* line 40, /Users/RobTheHuman/Desktop/Developer/Social-Network/app/assets/stylesheets/homes.scss */
.home-guest div.identity {
  z-index: 1;
  position: fixed;
  top: 50vh;
  width: 100%;
  text-align: center;
}
/* line 47, /Users/RobTheHuman/Desktop/Developer/Social-Network/app/assets/stylesheets/homes.scss */
.home-guest div.identity a {
  margin-left: 1em;
}
/* line 65, /Users/RobTheHuman/Desktop/Developer/Social-Network/app/assets/stylesheets/posts.scss */
.mainbody {
  background: #f0f0f0;
}

/* Special class on .container surrounding .navbar, used for positioning it into place. */
/* line 69, /Users/RobTheHuman/Desktop/Developer/Social-Network/app/assets/stylesheets/posts.scss */
.navbar-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
  margin-left: -15px;
  margin-right: -15px;
}

/* Flip around the padding for proper display in narrow viewports */
/* line 80, /Users/RobTheHuman/Desktop/Developer/Social-Network/app/assets/stylesheets/posts.scss */
.navbar-wrapper .container {
  padding-left: 0;
  padding-right: 0;
}

/* line 84, /Users/RobTheHuman/Desktop/Developer/Social-Network/app/assets/stylesheets/posts.scss */
.navbar-wrapper .navbar {
  padding-left: 15px;
  padding-right: 15px;
}

/* line 89, /Users/RobTheHuman/Desktop/Developer/Social-Network/app/assets/stylesheets/posts.scss */
.navbar-content {
  width: 320px;
  padding: 15px;
  padding-bottom: 0px;
}

/* line 95, /Users/RobTheHuman/Desktop/Developer/Social-Network/app/assets/stylesheets/posts.scss */
.navbar-content:before, .navbar-content:after {
  display: table;
  content: "";
  line-height: 0;
}

/* line 101, /Users/RobTheHuman/Desktop/Developer/Social-Network/app/assets/stylesheets/posts.scss */
.navbar-nav.navbar-right:last-child {
  margin-right: 15px !important;
}

/* line 104, /Users/RobTheHuman/Desktop/Developer/Social-Network/app/assets/stylesheets/posts.scss */
.navbar-footer {
  background-color: #DDD;
}

/* line 108, /Users/RobTheHuman/Desktop/Developer/Social-Network/app/assets/stylesheets/posts.scss */
.navbar-footer-content {
  padding: 15px 15px 15px 15px;
}

/* line 109, /Users/RobTheHuman/Desktop/Developer/Social-Network/app/assets/stylesheets/posts.scss */
.dropdown-menu {
  padding: 0px;
  overflow: hidden;
}

/* line 114, /Users/RobTheHuman/Desktop/Developer/Social-Network/app/assets/stylesheets/posts.scss */
.brand_network {
  color: #9D9D9D;
  float: left;
  position: absolute;
  left: 70px;
  top: 30px;
  font-size: smaller;
}

/* line 123, /Users/RobTheHuman/Desktop/Developer/Social-Network/app/assets/stylesheets/posts.scss */
.post-content {
  margin-left: 58px;
}

/* line 127, /Users/RobTheHuman/Desktop/Developer/Social-Network/app/assets/stylesheets/posts.scss */
div.btn-group-xs a.btn {
  color: #ffffff;
  background-color: #1abc9c;
  font-size: 1.2em;
}

/* line 133, /Users/RobTheHuman/Desktop/Developer/Social-Network/app/assets/stylesheets/posts.scss */
.badge-important {
  margin-top: 3px;
  margin-left: 25px;
  position: absolute;
}

/* line 139, /Users/RobTheHuman/Desktop/Developer/Social-Network/app/assets/stylesheets/posts.scss */
body {
  background-color: #e8e8e8;
}

/* line 143, /Users/RobTheHuman/Desktop/Developer/Social-Network/app/assets/stylesheets/posts.scss */
.panel-default {
  position: absolute;
}

/* line 146, /Users/RobTheHuman/Desktop/Developer/Social-Network/app/assets/stylesheets/posts.scss */
.edit {
  position: absolute;
  top: 1.8em;
  right: 4em;
  font-size: 1.5em;
}

/* line 153, /Users/RobTheHuman/Desktop/Developer/Social-Network/app/assets/stylesheets/posts.scss */
.likes {
  position: absolute;
  left: 2em;
}

@media only screen and (max-width: 600px) {
  /* line 159, /Users/RobTheHuman/Desktop/Developer/Social-Network/app/assets/stylesheets/posts.scss */
  .edit {
    top: 3.1em;
  }
}
/* line 1, /Users/RobTheHuman/Desktop/Developer/Social-Network/app/assets/stylesheets/scaffolds.scss */
body {
  background-color: #fff;
  color: #333;
  margin: 33px;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 10, /Users/RobTheHuman/Desktop/Developer/Social-Network/app/assets/stylesheets/scaffolds.scss */
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 16, /Users/RobTheHuman/Desktop/Developer/Social-Network/app/assets/stylesheets/scaffolds.scss */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* line 22, /Users/RobTheHuman/Desktop/Developer/Social-Network/app/assets/stylesheets/scaffolds.scss */
a {
  color: #000;
}
/* line 25, /Users/RobTheHuman/Desktop/Developer/Social-Network/app/assets/stylesheets/scaffolds.scss */
a:visited {
  color: #666;
}
/* line 29, /Users/RobTheHuman/Desktop/Developer/Social-Network/app/assets/stylesheets/scaffolds.scss */
a:hover {
  color: #fff;
  background-color: #000;
}

/* line 35, /Users/RobTheHuman/Desktop/Developer/Social-Network/app/assets/stylesheets/scaffolds.scss */
th {
  padding-bottom: 5px;
}

/* line 39, /Users/RobTheHuman/Desktop/Developer/Social-Network/app/assets/stylesheets/scaffolds.scss */
td {
  padding: 0 5px 7px;
}

/* line 44, /Users/RobTheHuman/Desktop/Developer/Social-Network/app/assets/stylesheets/scaffolds.scss */
div.field, div.actions {
  margin-bottom: 10px;
}

/* line 49, /Users/RobTheHuman/Desktop/Developer/Social-Network/app/assets/stylesheets/scaffolds.scss */
#notice {
  color: green;
}

/* line 53, /Users/RobTheHuman/Desktop/Developer/Social-Network/app/assets/stylesheets/scaffolds.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 59, /Users/RobTheHuman/Desktop/Developer/Social-Network/app/assets/stylesheets/scaffolds.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
/* line 66, /Users/RobTheHuman/Desktop/Developer/Social-Network/app/assets/stylesheets/scaffolds.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px -7px 0;
  background-color: #c00;
  color: #fff;
}
/* line 76, /Users/RobTheHuman/Desktop/Developer/Social-Network/app/assets/stylesheets/scaffolds.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

/* line 82, /Users/RobTheHuman/Desktop/Developer/Social-Network/app/assets/stylesheets/scaffolds.scss */
label {
  display: block;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.


 */

@import "bootstrap-sprockets";
@import "bootstrap";

 body {
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

 }

header {
    height: 75px;
    width: 100%;
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #1abc9c;
    color: #ffffff;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    z-index: 1;
    border-bottom: 1px solid #238673;
}
a:hover {
    background-color: transparent;
}

.viewport {
    position: absolute;
}

.notice {
    position: absolute;
    right: 1em;
    top: 7em;
}
.alert {
    position: absolute;
    right: 1em;
    top: 8em;
}

header .logo {
    height: 100%;
}
header .auth {
    height: 100%;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
div.dropdown {
    position: absolute;
    right: 3em;
    top: 1.5em;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
}

div.dropdown img.avatar {
    border-radius: 50%;
    position: relative;
    bottom: 1.2em;
    margin-left: 2em;
}

a.dropdown-toggle:hover {
    background-color: transparent;
    cursor: pointer;
}
a.dropdown-toggle {
    background-color: transparent;
    cursor: pointer;
    -webkit-transition: ;
    transition: ;
}
a.new-post {
    font-size: 3em;
    color: #ffffff;
    position: relative;
    bottom: .48em;
    right: .75em;
}

a.new-post:hover {
    text-decoration: none;
    color: #ffffff;
}

ul.dropdown-menu {
    position: absolute;
    width: 100px;
    top: 3.62em;
    left: 2em;
}

ul.hide-dropdown {
    /*left:11em;*/
}

span.glyphicon-cog {
    position: relative;
    font-size: 2em;
    right: 0;
    color: #ffffff;
}

header .auth-buttons {
    float: right;
    width: 100%;
    min-height: 40px;
}
header .welcome-btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 1.5em;
    right: 0;
}

header .welcome-btns .welcome-btn {
    color: #ffffff;
    font-size: 1.5em;
}

header .welcome-btns .welcome-btn:nth-of-type(1){
    position: relative;
    margin-right: 2em;
}

header .welcome-btns .welcome-btn:hover {
    background-color: transparent;
    text-decoration: none;
}

section.viewport {
    margin: 7em auto 0 auto;
}


@media screen and (min-width: 1200px) {
    .container {
        width: 100vw !;
        padding: 0 5vw;
    }
}

.success{
    background: #dff0d8;
    border: 1px solid #3c763d;
    border-radius: 2px;
}
.warning{
    background: #fcf8e3;
    border: 1px solid #ec971f;
    border-radius: 2px;
}
.danger{
    background: #f2dede;
    border: 1px solid #ebccd1;
    border-radius: 2px;
}



#sidebar {

    width: 100%;

    height: 100%;

    position: fixed;

    background: #394a59;

}



.nav-collapse.collapse {

    display: inline;

}



ul.sidebar-menu , ul.sidebar-menu li ul.sub{

    margin: -2px 0 0;

    padding: 0;

}



ul.sidebar-menu {

    margin-top: 75px;
    list-style: none;

}



#sidebar > ul > li > ul.sub {

    display: none;

}



#sidebar > ul > li.active > ul.sub, #sidebar > ul > li > ul.sub > li > a {

    display: block;

}



ul.sidebar-menu li ul.sub li{

    background: #394a59;

    margin-bottom: 0;

    margin-left: 0;

    margin-right: 0;

}



ul.sidebar-menu li ul.sub li:last-child{

    border-radius: 0 0 4px 4px;

    -webkit-border-radius: 0 0 4px 4px;

}



ul.sidebar-menu li ul.sub li a {

    font-size: 12px;

    padding: 0 0 0 32px;

    line-height: 35px;

    height: 35px;

    -webkit-transition: all 0.3s ease;

    transition: all 0.3s ease;

    color: #d0d8df;

    font-size: 14px;

}



ul.sidebar-menu li ul.sub li a:hover, ul.sidebar-menu li ul.sub li.active a {

    color: #fff;

    -webkit-transition: all 0.3s ease;

    transition: all 0.3s ease;

    display: block;

}



ul.sidebar-menu li{

    line-height: 20px !important;

    /*margin-bottom: 5px;

    margin-left:10px;

    margin-right:10px;*/



}

/*ul.sidebar-menu li:hover{

    border-bottom: 1px solid #688a7e;

}*/

ul.sidebar-menu li.sub-menu{

    line-height: 15px;

    font-size: 16px;

}



ul.sidebar-menu li a span{

    display: inline-block;

}



ul.sidebar-menu li a{

    color: #d0d8df;

    text-decoration: none;

    display: block;

    padding: 15px 0 15px 10px;

    font-size: 16px;

    font-weight: 300;

    outline: none;

    -webkit-transition: all 0.3s ease;

    transition: all 0.3s ease;

    border-right: 1px solid #D7D7D7;

    border-bottom: 1px solid #D7D7D7;

}

/*ul.sidebar-menu li a i{

    position: relative;

    top: 2px;

}*/

ul.sidebar-menu li.active a, ul.sidebar-menu li a:hover, ul.sidebar-menu li a:focus {

    /*background: #2e3b46;*/

    color: #fff;

    display: block;

    /*border-radius: 4px;

    -webkit-border-radius: 4px;*/

    -webkit-transition: all 0.3s ease;

    transition: all 0.3s ease;

}

ul.sidebar-menu li a:hover, ul.sidebar-menu li a:focus {

    border-bottom: 1px solid #d0d8df;
    background-color: #1abc9c;

}

ul.sidebar-menu li.active a, ul.sidebar-menu .sub-menu li.active a{

    border-bottom: 1px solid #d0d8df;

}



ul.sidebar-menu li a i {

    font-size: 18px;

    padding-right: 6px;

    /*color: #688a7e;*/

}



ul.sidebar-menu li a:hover i, ul.sidebar-menu li a:focus i {

    color: #fff;

}



ul.sidebar-menu li.active a i {

    color: #fff;

}





#sidebar ul > li > a .arrow {

    border-bottom: 4px solid transparent;

    border-left: 4px solid #A0A0A0;

    border-top: 4px solid transparent;

    float: right;

    height: 0;

    margin-right: 10px;

    margin-top: 6px;

    width: 0;

}

#sidebar ul > li > a .menu-arrow {

    float: right;

    margin-right: 8px;

    margin-top: 6px;

}

#sidebar > ul > li > a .arrow.open {

    border-left: 4px solid transparent;

    border-right: 4px solid transparent;

    border-top: 5px solid #A0A0A0;

    float: right;

    height: 0;

    margin-right: 10px;

    margin-top: 8px;

    width: 0;

}



#sidebar ul > li.active > a .arrow, #sidebar ul > li > a:hover .arrow, #sidebar ul > li > a:focus .arrow {

    float: right;

    margin-top: 6px;

    margin-right: 10px;

    width: 0;

    height: 0;

    border-left: 4px solid #d0d8df;

    border-top: 4px solid transparent;

    border-bottom: 4px solid transparent;

}



#sidebar > ul > li.active > a .arrow.open, #sidebar > ul > li > a:hover .arrow.open, #sidebar > ul > li > a:focus .arrow.open {

    float: right;

    margin-top: 8px;

    margin-right: 10px;

    width: 0;

    height: 0;

    border-top: 5px solid #d0d8df;

    border-left: 4px solid transparent;

    border-right: 4px solid transparent;

}



.mail-info, .mail-info:hover {

    margin: 3px 6px 0 0;

    font-size: 11px;

}


span.like-btn {
    position: absolute;
    left: 2em;
}
span.like-btn a:hover {
    text-decoration: none;
    cursor: pointer;
}
div.panel {
    position: relative;
}
/* USER PROFILE PAGE */
.card {
    margin-top: 20px;
    padding: 30px;
    background-color: rgba(214, 224, 226, 0.2);
    -moz-border-top-left-radius:5px;
    border-top-left-radius:5px;
    -moz-border-top-right-radius:5px;
    border-top-right-radius:5px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.card.hovercard {
    position: relative;
    padding-top: 0;
    overflow: hidden;
    text-align: center;
    background-color: #fff;
    background-color: rgba(255, 255, 255, 1);
}
.card.hovercard .card-background {
    height: 130px;
}
.card-background img {
    -webkit-filter: blur(25px);
    -moz-filter: blur(25px);
    -o-filter: blur(25px);
    -ms-filter: blur(25px);
    filter: blur(25px);
    margin-left: -100px;
    margin-top: -200px;
    min-width: 130%;
}
.card.hovercard .useravatar {
    position: absolute;
    top: 15px;
    left: 0;
    right: 0;
}
.card.hovercard .useravatar img {
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, 0.5);
}
.card.hovercard .card-info {
    position: absolute;
    bottom: 14px;
    left: 0;
    right: 0;
}
.card.hovercard .card-info .card-title {
    padding:0 5px;
    font-size: 20px;
    line-height: 1;
    color: #262626;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 4px;
}
.card.hovercard .card-info {
    overflow: hidden;
    font-size: 12px;
    line-height: 20px;
    color: #737373;
    text-overflow: ellipsis;
}
.card.hovercard .bottom {
    padding: 0 20px;
    margin-bottom: 17px;
}
.btn-pref .btn {
    -webkit-border-radius:0 !important;
}
#playground-container {
    height: 500px;
    overflow: hidden !important;
    -webkit-overflow-scrolling: touch;
}


.main{
    margin:50px 15px;
}

h1.title {
    font-size: 50px;
    font-family: 'Passion One', cursive;
    font-weight: 400;
}

hr{
    color: #fff;
}

.form-group{
    margin-bottom: 15px;
}

label{
    margin-bottom: 15px;
}

input,
input::-webkit-input-placeholder {
    font-size: 11px;
    padding-top: 3px;
}

.main-login{
    background-color: #fff;
    /* shadows and rounded borders */
    border-radius: 2px;
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);

}
.form-control {
    height: auto!important;
    padding: 8px 12px !important;
}
.input-group {
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.21)!important;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.21)!important;
}
#button {
    border: 1px solid #ccc;
    margin-top: 28px;
    padding: 6px 12px;
    color: #666;
    text-shadow: 0 1px #fff;
    cursor: pointer;
    border-radius: 3px 3px;
    -webkit-box-shadow: 0 1px #fff inset, 0 1px #ddd;
    box-shadow: 0 1px #fff inset, 0 1px #ddd;
    background: #f5f5f5;
    background: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#eeeeee));
    background: linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#eeeeee', GradientType=0);
}
.main-center{
    margin-top: 30px;
    margin: 0 auto;
    max-width: 400px;
    padding: 10px 40px;
    background:#1abc9c;
    color: #FFF;
    text-shadow: none;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);

}
span.input-group-addon i {
    color: #009edf;
    font-size: 17px;
}

.login-button{
    margin-top: 5px;
}

.login-register{
    font-size: 11px;
    text-align: center;
}

input.follow, input.unfollow {
    margin-bottom: 1em;
}
